@import "foundation_imports";

.planner {
  padding: 1em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  table {
    table-layout: fixed;
  }

  table.quarter-header {
    width: 100%;
    text-align: center;

    border: 1px solid $topbar-bg;
    border-bottom: none;

    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
  }

  .year-rows {

    table {
      border-collapse: collapse;
    }
    table td, table th {
      border: 1px solid black;
    }
    table tr:first-child th {
      border-top: 0;
    }
    table tr:last-child td {
      border-bottom: 0;
    }
    table tr td:first-child,
    table tr th:first-child {
      border-left: 0;
    }
    table tr td:last-child,
    table tr th:last-child {
      border-right: 0;
    }

    border: 1px solid $topbar-bg;
    border-top: none;

    border-bottom-right-radius: .2em;
    border-bottom-left-radius: .2em;

    .year {
      width: 100%;
      margin: 0;
      padding: 0;

    }

    .year-rows > ul {
      margin: 0;
    }

    .quarter {
      padding: 1em;
    }
  }

  li + li {
    border-top: 1px dotted $topbar-bg;
  }

  .class-item-button {
    background-color: $topbar-bg;
    color: white;
    float: right;

    height: 1.2em;
  }

  .class-item {
    // border-top: 1px solid $topbar-bg;
    overflow: hidden;
    padding: .25em;
  }

  .year-label {
    width: 4em;
    text-align: center;
  }
}

.details-pane {
  padding: 1em;

  .head {
    font-weight: bold;
  }

  .subhead {
    font-style: italic;
    color: gray;
  }
}