<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>CoursePlanner</servlet-name>
		<servlet-class>com.courseplanner.CoursePlannerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CoursePlanner</servlet-name>
		<url-pattern>/courseplanner</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>CurrentUser</servlet-name>
	    <servlet-class>com.courseplanner.CurrentUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>CurrentUser</servlet-name>
	    <url-pattern>/current_user</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>CollegeDatastoreBuilder</servlet-name>
	    <servlet-class>com.courseplanner.CollegeDatastoreBuilderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>CollegeDatastoreBuilder</servlet-name>
	    <url-pattern>/collegeDatastore_builder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MajorDatastoreBuilder</servlet-name>
		<servlet-class>com.courseplanner.MajorDatastoreBuilderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MajorDatastoreBuilder</servlet-name>
		<url-patter>/majorDatastoreBuilder</url-patter>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
